$primary: #007aff;
$secondary: #ae8c57;
$light: #fff;
$dark: #000;
$diabled: #e7e7e7;


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background: no-repeat url(img/fondo.jpg);
    background-size: cover;
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-image: url(img/container.png);
    background-size: cover;
    color: $light;
    width: 100%;
    max-width: 500px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateTimer {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateTimer  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: $diabled;
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: $diabled;
}

.orderButton {
    background-color: $secondary;
    color: $light;
}

.task {
    background-color: $primary;
    padding: 15px;
    margin-top: 15px;
    color: $light;
    cursor: pointer;
}

.done {
    background-color: $diabled;
    text-decoration: line-through;
    color: $dark;
}

.contador{
    display: inline-block;
    padding: 10px 5px;
    border-radius: 30px;
}
.minutes,
.tuki,
.seconds{
    font-weight: bold;
}

.contadorBtn{
        width: 35px;
        height: 28px;
        margin-left: 10px;
        border-radius: 20%;
        border: none;
        cursor: pointer;
        background: $secondary;
        color: $light;
}